/***************

COMMON

****************/

body {
  font-family: "monospace", sans-serif;
}

.font-primary {
  color: #00abae;
  font-family: "Cascadia Mono";
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

a.font-black {
  color: #707070;
  font-weight: bold;
}

/**************

ABOUT

***************/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 80%;
  width: 120px;
  margin-bottom: 10px;
}

#about .name {
  font-size: 19px;
  font-weight: bold;
}

#about .vocation {
  font-size: 17px;
  color: #a8a8ab;
  margin-bottom: 10px;
}

#about .skills {
  font-size: 17px;
  color: #1bc55f;
  margin-bottom: 10px;
}

#about .email {
  margin-top: 14px;
  font-size: 14px;
}

#about .icons {
  margin-top: 20px;
  font-size: 30px;
}

.bi-github {
  color: rgb(0, 0, 0);
}

.bi-linked {
  color: blue;
}

/****************

PROJECTS

****************/

#projects {
  margin: 60px auto;
  width: 80%;
}

#projects h2 {
  text-align: center;
}

#projects .card img {
  width: 100%;
}

#projects .card-title {
  font-weight: bold;
}

#projects .btn-primary {
  background-color: gray;
}

#projects .btn-secondary {
  background-color: black;
}

#projects .text-black {
  color: black;
  font-weight: bold;
}

#projects .text-white {
  font-weight: bold;
}
